CSI_Final_Project/Task1-Fetching_Data_RestAPI_pipeline_support_live/pipeline/Fetching_Data_RestAPI_pipeline.json
{
    "name": "Fetching_Data_RestAPI_pipeline",
    "properties": {
        "activities": [
            {
                "name": "ForEach",
                "type": "ForEach",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@pipeline().parameters.countries",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "GetCountryData",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "method": "GET",
                                "url": "https://restcountries.com/v3.1/name/@{item()}"
                            }
                        },
                        {
                            "name": "CopyCountryData",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "GetCountryData",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "RestSource",
                                    "httpRequestTimeout": "00:01:40",
                                    "requestInterval": "00.00:00:00.010",
                                    "requestMethod": "GET",
                                    "paginationRules": {
                                        "supportRFC5988": "true"
                                    }
                                },
                                "sink": {
                                    "type": "JsonSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "JsonWriteSettings"
                                    }
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "Dataset_restAPI",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "CountryName": "@item()"
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "Dataset_json",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "FileName": {
                                            "value": "@concat(item(),'.json')",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "countries": {
                "type": "array",
                "defaultValue": [
                    "india",
                    "us",
                    "uk",
                    "china",
                    "russia"
                ]
            }
        },
        "annotations": []
    }
}